<div id="<%= dom_id cashier %>">
  <p>
    <strong>First name:</strong>
    <%= cashier.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= cashier.last_name %>
  </p>

  <p>
    <strong>Operator:</strong>
    <%= cashier.operator_id %>
  </p>

</div>
